#  LIST AND ITS DEFAULT FUNCTIONS

In [14]:
list2=[1,'python',2,'is',3,'Awesome']

In [15]:
list2

[1, 'python', 2, 'is', 3, 'Awesome']

In [20]:
list2.append([4,5,6])

In [19]:
list2

[1, 'python', 2, 'is', 3, 'Awesome', 4]

In [21]:
list2

[1, 'python', 2, 'is', 3, 'Awesome', 4, [4, 5, 6]]

In [22]:
list2[7][1]

5

In [24]:
list2.clear()

In [25]:
list2

[]

In [26]:
list3=[1,'python',2,'is',3,'Language']

In [29]:
list4=list3.copy()

In [30]:
list4

[1, 'python', 2, 'is', 3, 'Language']

In [35]:
list3.count(1)

1

In [37]:
list3.pop(3)

'is'

In [38]:
list3

[1, 'python', 2, 3, 'Language']

In [40]:
list3.reverse()

In [42]:
list3

['Language', 3, 2, 'python', 1]

# Dictionaries and its default functions

In [43]:
dict1={'Ramesh':150,'Suresh':146,'Sudesh':160}

In [44]:
dict1

{'Ramesh': 150, 'Suresh': 146, 'Sudesh': 160}

In [45]:
dict1['Sunil']=456

In [46]:
dict1

{'Ramesh': 150, 'Suresh': 146, 'Sudesh': 160, 'Sunil': 456}

In [47]:
dict2=dict1.copy()

In [48]:
dict2

{'Ramesh': 150, 'Suresh': 146, 'Sudesh': 160, 'Sunil': 456}

In [59]:
dict1.get('Ramesh')

150

In [62]:
dict1.pop('Ramesh')

150

In [63]:
dict1

{'Suresh': 146, 'Sudesh': 160, 'Sunil': 456}

In [65]:
dict1.pop('Suresh')

146

In [114]:
dict2.values()

dict_values([150, 146, 160, 456])

In [113]:
dict2.items()

dict_items([('Ramesh', 150), ('Suresh', 146), ('Sudesh', 160), ('Sunil', 456)])

# SETS AND DEFAULT FUNCTIONS

In [72]:
set1={1,2,3,4,5,6}
set2={5,6,3,2,7,8,9}

In [74]:
set1 and set2

{2, 3, 5, 6, 7, 8, 9}

In [75]:
set1 or set2

{1, 2, 3, 4, 5, 6}

In [77]:
set1.add(7)

In [78]:
set1

{1, 2, 3, 4, 5, 6, 7}

In [81]:
set1.intersection(set1,set2)

{2, 3, 5, 6, 7}

In [83]:
set1.union(set2)

{1, 2, 3, 4, 5, 6, 7, 8, 9}

In [87]:
set1.isdisjoint(set2)

False

In [91]:
set1.issubset(set1)

True

In [96]:
set1.discard(2)

In [97]:
set1

{1, 3, 4, 5, 6, 7}

# Tuple and its default functions

In [101]:
t=(0,'Zero',1,'Hero',1)

In [102]:
t

(0, 'Zero', 1, 'Hero', 1)

In [103]:
t.count(1)

2

In [106]:
t.index('Hero')

3

# Strings and its default functions

In [115]:
a='Welcome to the World of Python'

In [119]:
b=a.lower()
print(b)

welcome to the world of python

In [121]:
c=a.upper()
print(c)

WELCOME TO THE WORLD OF PYTHON

In [127]:
d=a.capitalize()
print(d)

Welcome to the world of python

In [132]:
e=a.find('python')
print(e)

-1

In [133]:
f=a.isalnum()
print(f)

False